.dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.click-menu{
    background-color: #DCEEE6;
    border-radius: 10px;
    color: #00A15D;
    font-weight: 600;
    cursor: pointer;
}
.dashboard-menu{
    width: 20%;
    margin-top: 0px;
}
.dashboard-analytics{
    width: 80%;
}