.body{
  padding: 0px;
  margin: 0px;
}
.navbar-item-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.item-link-container{
  width: 80%;
}
@media screen and (max-width:768px) {
  .item-link-container{
    width: 95%;
  }
}